/*
.assignment {
  background-color: red;
}
*/

.fa {
    padding-right: .3em;
}

.editIconsContainer {
    text-align: center;
    padding: 10px;
}

.modifyIcons {
    padding-bottom: 15px;
    padding-top: 15px;
}

body {
    max-width: 1088px !important;
}

.fa-times {
    color: #cc0000;
}

.floatButtonsDiv {
    position: fixed;
    top: 5px;
    right: 5px;
    width: auto;
    background-color: #ebebeb;
    border: 2px solid #888;
    border-radius: 2px;
    color: #aaa;
}

.floatIcons {
    padding: 8px;
}

.activeIcon {
    color: #2e7ec0;
}

.hiddenIcon {
    display: none !important;
}

/* Edit Modal */ /* TODO: not all necessary, change names */
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }